<div class="wrapper">
  <div class="btn-start">
    <button mat-raised-button color="primary"
            (click)="startTimer()">Start</button>
    <button mat-raised-button color="primary"
            (click)="refresh()">Refresh</button>
  </div>

  <div class="information">
    <div class="timer">
      <p>{{timeLeft}}  Seconds Left...</p>
    </div>
    <div class="score">
      <p>{{scorePlayer}} player score</p>
    </div>
    <div class="score">
      <p>{{scoreAI}} A.I. score</p>
    </div>
  </div>

  <div class="field">
    <table>
      <tr>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow1.1']"
            [class.block-green]="states.states['green1.1']"
            [class.block-red]="states.states['red1.1']" (click)="selectBlock('1.1')">1.1</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow1.2']"
            [class.block-green]="states.states['green1.2']"
            [class.block-red]="states.states['red1.2']" (click)="selectBlock('1.2')">1.2</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow1.3']"
            [class.block-green]="states.states['green1.3']"
            [class.block-red]="states.states['red1.3']" (click)="selectBlock('1.3')">1.3</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow1.4']"
            [class.block-green]="states.states['green1.4']"
            [class.block-red]="states.states['red1.4']" (click)="selectBlock('1.4')">1.4</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow1.5']"
            [class.block-green]="states.states['green1.5']"
            [class.block-red]="states.states['red1.5']" (click)="selectBlock('1.5')">1.5</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow1.6']"
            [class.block-green]="states.states['green1.6']"
            [class.block-red]="states.states['red1.6']" (click)="selectBlock('1.6')">1.6</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow1.7']"
            [class.block-green]="states.states['green1.7']"
            [class.block-red]="states.states['red1.7']" (click)="selectBlock('1.7')">1.7</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow1.8']"
            [class.block-green]="states.states['green1.8']"
            [class.block-red]="states.states['red1.8']" (click)="selectBlock('1.8')">1.8</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow1.9']"
            [class.block-green]="states.states['green1.9']"
            [class.block-red]="states.states['red1.9']" (click)="selectBlock('1.9')">1.9</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow1.10']"
            [class.block-green]="states.states['green1.10']"
            [class.block-red]="states.states['red1.10']" (click)="selectBlock('1.10')">1.10</td>
      </tr>
      <tr>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow2.1']"
            [class.block-green]="states.states['green2.1']"
            [class.block-red]="states.states['red2.1']" (click)="selectBlock('2.1')">2.1</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow2.2']"
            [class.block-green]="states.states['green2.2']"
            [class.block-red]="states.states['red2.2']" (click)="selectBlock('2.2')">2.2</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow2.3']"
            [class.block-green]="states.states['green2.3']"
            [class.block-red]="states.states['red2.3']" (click)="selectBlock('2.3')">2.3</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow2.4']"
            [class.block-green]="states.states['green2.4']"
            [class.block-red]="states.states['red2.4']" (click)="selectBlock('2.4')">2.4</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow2.5']"
            [class.block-green]="states.states['green2.5']"
            [class.block-red]="states.states['red2.5']" (click)="selectBlock('2.5')">2.5</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow2.6']"
            [class.block-green]="states.states['green2.6']"
            [class.block-red]="states.states['red2.6']" (click)="selectBlock('2.6')">2.6</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow2.7']"
            [class.block-green]="states.states['green2.7']"
            [class.block-red]="states.states['red2.7']" (click)="selectBlock('2.7')">2.7</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow2.8']"
            [class.block-green]="states.states['green2.8']"
            [class.block-red]="states.states['red2.8']" (click)="selectBlock('2.8')">2.8</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow2.9']"
            [class.block-green]="states.states['green2.9']"
            [class.block-red]="states.states['red2.9']" (click)="selectBlock('2.9')">2.9</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow2.10']"
            [class.block-green]="states.states['green2.10']"
            [class.block-red]="states.states['red2.10']" (click)="selectBlock('2.10')">2.10</td>
      </tr>
      <tr>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow3.1']"
            [class.block-green]="states.states['green3.1']"
            [class.block-red]="states.states['red3.1']" (click)="selectBlock('3.1')">3.1</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow3.2']"
            [class.block-green]="states.states['green3.2']"
            [class.block-red]="states.states['red3.2']" (click)="selectBlock('3.2')">3.2</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow3.3']"
            [class.block-green]="states.states['green3.3']"
            [class.block-red]="states.states['red3.3']" (click)="selectBlock('3.3')">3.3</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow3.4']"
            [class.block-green]="states.states['green3.4']"
            [class.block-red]="states.states['red3.4']" (click)="selectBlock('3.4')">3.4</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow3.5']"
            [class.block-green]="states.states['green3.5']"
            [class.block-red]="states.states['red3.5']" (click)="selectBlock('3.5')">3.5</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow3.6']"
            [class.block-green]="states.states['green3.6']"
            [class.block-red]="states.states['red3.6']" (click)="selectBlock('3.6')">3.6</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow3.7']"
            [class.block-green]="states.states['green3.7']"
            [class.block-red]="states.states['red3.7']" (click)="selectBlock('3.7')">3.7</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow3.8']"
            [class.block-green]="states.states['green3.8']"
            [class.block-red]="states.states['red3.8']" (click)="selectBlock('3.8')">3.8</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow3.9']"
            [class.block-green]="states.states['green3.9']"
            [class.block-red]="states.states['red3.9']" (click)="selectBlock('3.9')">3.9</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow3.10']"
            [class.block-green]="states.states['green3.10']"
            [class.block-red]="states.states['red3.10']" (click)="selectBlock('3.10')">3.10</td>
      </tr>
      <tr>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow4.1']"
            [class.block-green]="states.states['green4.1']"
            [class.block-red]="states.states['red4.1']" (click)="selectBlock('4.1')">4.1</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow4.2']"
            [class.block-green]="states.states['green4.2']"
            [class.block-red]="states.states['red4.2']" (click)="selectBlock('4.2')">4.2</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow4.3']"
            [class.block-green]="states.states['green4.3']"
            [class.block-red]="states.states['red4.3']" (click)="selectBlock('4.3')">4.3</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow4.4']"
            [class.block-green]="states.states['green4.4']"
            [class.block-red]="states.states['red4.4']" (click)="selectBlock('4.4')">4.4</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow4.5']"
            [class.block-green]="states.states['green4.5']"
            [class.block-red]="states.states['red4.5']" (click)="selectBlock('4.5')">4.5</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow4.6']"
            [class.block-green]="states.states['green4.6']"
            [class.block-red]="states.states['red4.6']" (click)="selectBlock('4.6')">4.6</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow4.7']"
            [class.block-green]="states.states['green4.7']"
            [class.block-red]="states.states['red4.7']" (click)="selectBlock('4.7')">4.7</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow4.8']"
            [class.block-green]="states.states['green4.8']"
            [class.block-red]="states.states['red4.8']" (click)="selectBlock('4.8')">4.8</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow4.9']"
            [class.block-green]="states.states['green4.9']"
            [class.block-red]="states.states['red4.9']" (click)="selectBlock('4.9')">4.9</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow4.10']"
            [class.block-green]="states.states['green4.10']"
            [class.block-red]="states.states['red4.10']" (click)="selectBlock('4.10')">4.10</td>
      </tr>
      <tr>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow5.1']"
            [class.block-green]="states.states['green5.1']"
            [class.block-red]="states.states['red5.1']" (click)="selectBlock('5.1')">5.1</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow5.2']"
            [class.block-green]="states.states['green5.2']"
            [class.block-red]="states.states['red5.2']" (click)="selectBlock('5.2')">5.2</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow5.3']"
            [class.block-green]="states.states['green5.3']"
            [class.block-red]="states.states['red5.3']" (click)="selectBlock('5.3')">5.3</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow5.4']"
            [class.block-green]="states.states['green5.4']"
            [class.block-red]="states.states['red5.4']" (click)="selectBlock('5.4')">5.4</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow5.5']"
            [class.block-green]="states.states['green5.5']"
            [class.block-red]="states.states['red5.5']" (click)="selectBlock('5.5')">5.5</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow5.6']"
            [class.block-green]="states.states['green5.6']"
            [class.block-red]="states.states['red5.6']" (click)="selectBlock('5.6')">5.6</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow5.7']"
            [class.block-green]="states.states['green5.7']"
            [class.block-red]="states.states['red5.7']" (click)="selectBlock('5.7')">5.7</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow5.8']"
            [class.block-green]="states.states['green5.8']"
            [class.block-red]="states.states['red5.8']" (click)="selectBlock('5.8')">5.8</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow5.9']"
            [class.block-green]="states.states['green5.9']"
            [class.block-red]="states.states['red5.9']" (click)="selectBlock('5.9')">5.9</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow5.10']"
            [class.block-green]="states.states['green5.10']"
            [class.block-red]="states.states['red5.10']" (click)="selectBlock('5.10')">5.10</td>
      </tr>
      <tr>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow6.1']"
            [class.block-green]="states.states['green6.1']"
            [class.block-red]="states.states['red6.1']" (click)="selectBlock('6.1')">6.1</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow6.2']"
            [class.block-green]="states.states['green6.2']"
            [class.block-red]="states.states['red6.2']" (click)="selectBlock('6.2')">6.2</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow6.3']"
            [class.block-green]="states.states['green6.3']"
            [class.block-red]="states.states['red6.3']" (click)="selectBlock('6.3')">6.3</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow6.4']"
            [class.block-green]="states.states['green6.4']"
            [class.block-red]="states.states['red6.4']" (click)="selectBlock('6.4')">6.4</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow6.5']"
            [class.block-green]="states.states['green6.5']"
            [class.block-red]="states.states['red6.5']" (click)="selectBlock('6.5')">6.5</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow6.6']"
            [class.block-green]="states.states['green6.6']"
            [class.block-red]="states.states['red6.6']" (click)="selectBlock('6.6')">6.6</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow6.7']"
            [class.block-green]="states.states['green6.7']"
            [class.block-red]="states.states['red6.7']" (click)="selectBlock('6.7')">6.7</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow6.8']"
            [class.block-green]="states.states['green6.8']"
            [class.block-red]="states.states['red6.8']" (click)="selectBlock('6.8')">6.8</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow6.9']"
            [class.block-green]="states.states['green6.9']"
            [class.block-red]="states.states['red6.9']" (click)="selectBlock('6.9')">6.9</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow6.10']"
            [class.block-green]="states.states['green6.10']"
            [class.block-red]="states.states['red6.10']" (click)="selectBlock('6.10')">6.10</td>
      </tr>
      <tr>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow7.1']"
            [class.block-green]="states.states['green7.1']"
            [class.block-red]="states.states['red7.1']" (click)="selectBlock('7.1')">7.1</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow7.2']"
            [class.block-green]="states.states['green7.2']"
            [class.block-red]="states.states['red7.2']" (click)="selectBlock('7.2')">7.2</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow7.3']"
            [class.block-green]="states.states['green7.3']"
            [class.block-red]="states.states['red7.3']" (click)="selectBlock('7.3')">7.3</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow7.4']"
            [class.block-green]="states.states['green7.4']"
            [class.block-red]="states.states['red7.4']" (click)="selectBlock('7.4')">7.4</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow7.5']"
            [class.block-green]="states.states['green7.5']"
            [class.block-red]="states.states['red7.5']" (click)="selectBlock('7.5')">7.5</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow7.6']"
            [class.block-green]="states.states['green7.6']"
            [class.block-red]="states.states['red7.6']" (click)="selectBlock('7.6')">7.6</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow7.7']"
            [class.block-green]="states.states['green7.7']"
            [class.block-red]="states.states['red7.7']" (click)="selectBlock('7.7')">7.7</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow7.8']"
            [class.block-green]="states.states['green7.8']"
            [class.block-red]="states.states['red7.8']" (click)="selectBlock('7.8')">7.8</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow7.9']"
            [class.block-green]="states.states['green7.9']"
            [class.block-red]="states.states['red7.9']" (click)="selectBlock('7.9')">7.9</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow7.10']"
            [class.block-green]="states.states['green7.10']"
            [class.block-red]="states.states['red7.10']" (click)="selectBlock('7.10')">7.10</td>
      </tr>
      <tr>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow8.1']"
            [class.block-green]="states.states['green8.1']"
            [class.block-red]="states.states['red8.1']" (click)="selectBlock('8.1')">8.1</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow8.2']"
            [class.block-green]="states.states['green8.2']"
            [class.block-red]="states.states['red8.2']" (click)="selectBlock('8.2')">8.2</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow8.3']"
            [class.block-green]="states.states['green8.3']"
            [class.block-red]="states.states['red8.3']" (click)="selectBlock('8.3')">8.3</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow8.4']"
            [class.block-green]="states.states['green8.4']"
            [class.block-red]="states.states['red8.4']" (click)="selectBlock('8.4')">8.4</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow8.5']"
            [class.block-green]="states.states['green8.5']"
            [class.block-red]="states.states['red8.5']" (click)="selectBlock('8.5')">8.5</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow8.6']"
            [class.block-green]="states.states['green8.6']"
            [class.block-red]="states.states['red8.6']" (click)="selectBlock('8.6')">8.6</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow8.7']"
            [class.block-green]="states.states['green8.7']"
            [class.block-red]="states.states['red8.7']" (click)="selectBlock('8.7')">8.7</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow8.8']"
            [class.block-green]="states.states['green8.8']"
            [class.block-red]="states.states['red8.8']" (click)="selectBlock('8.8')">8.8</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow8.9']"
            [class.block-green]="states.states['green8.9']"
            [class.block-red]="states.states['red8.9']" (click)="selectBlock('8.9')">8.9</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow8.10']"
            [class.block-green]="states.states['green8.10']"
            [class.block-red]="states.states['red8.10']" (click)="selectBlock('8.10')">8.10</td>
      </tr>
      <tr>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow9.1']"
            [class.block-green]="states.states['green9.1']"
            [class.block-red]="states.states['red9.1']" (click)="selectBlock('9.1')">9.1</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow9.2']"
            [class.block-green]="states.states['green9.2']"
            [class.block-red]="states.states['red9.2']" (click)="selectBlock('9.2')">9.2</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow9.3']"
            [class.block-green]="states.states['green9.3']"
            [class.block-red]="states.states['red9.3']" (click)="selectBlock('9.3')">9.3</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow9.4']"
            [class.block-green]="states.states['green9.4']"
            [class.block-red]="states.states['red9.4']" (click)="selectBlock('9.4')">9.4</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow9.5']"
            [class.block-green]="states.states['green9.5']"
            [class.block-red]="states.states['red9.5']" (click)="selectBlock('9.5')">9.5</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow9.6']"
            [class.block-green]="states.states['green9.6']"
            [class.block-red]="states.states['red9.6']" (click)="selectBlock('9.6')">9.6</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow9.7']"
            [class.block-green]="states.states['green9.7']"
            [class.block-red]="states.states['red9.7']" (click)="selectBlock('9.7')">9.7</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow9.8']"
            [class.block-green]="states.states['green9.8']"
            [class.block-red]="states.states['red9.8']" (click)="selectBlock('9.8')">9.8</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow9.9']"
            [class.block-green]="states.states['green9.9']"
            [class.block-red]="states.states['red9.9']" (click)="selectBlock('9.9')">9.9</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow9.10']"
            [class.block-green]="states.states['green9.10']"
            [class.block-red]="states.states['red9.10']" (click)="selectBlock('9.10')">9.10</td>
      </tr>
      <tr>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow10.1']"
            [class.block-green]="states.states['green10.1']"
            [class.block-red]="states.states['red10.1']" (click)="selectBlock('10.1')">10.1</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow10.2']"
            [class.block-green]="states.states['green10.2']"
            [class.block-red]="states.states['red10.2']" (click)="selectBlock('10.2')">10.2</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow10.3']"
            [class.block-green]="states.states['green10.3']"
            [class.block-red]="states.states['red10.3']" (click)="selectBlock('10.3')">10.3</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow10.4']"
            [class.block-green]="states.states['green10.4']"
            [class.block-red]="states.states['red10.4']" (click)="selectBlock('10.4')">10.4</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow10.5']"
            [class.block-green]="states.states['green10.5']"
            [class.block-red]="states.states['red10.5']" (click)="selectBlock('10.5')">10.5</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow10.6']"
            [class.block-green]="states.states['green10.6']"
            [class.block-red]="states.states['red10.6']" (click)="selectBlock('10.6')">10.6</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow10.7']"
            [class.block-green]="states.states['green10.7']"
            [class.block-red]="states.states['red10.7']" (click)="selectBlock('10.7')">10.7</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow10.8']"
            [class.block-green]="states.states['green10.8']"
            [class.block-red]="states.states['red10.8']" (click)="selectBlock('10.8')">10.8</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow10.9']"
            [class.block-green]="states.states['green10.9']"
            [class.block-red]="states.states['red10.9']" (click)="selectBlock('10.9')">10.9</td>
        <td class="block-blue"
            [class.block-yellow]="states.states['yellow10.10']"
            [class.block-green]="states.states['green10.10']"
            [class.block-red]="states.states['red10.10']" (click)="selectBlock('10.10')">10.10</td>
      </tr>
    </table>
  </div>
</div>
